.image {
  height: 250px;
  width: 300px;
  display: inline-block;
  position: relative;
}

.image:hover i { display: block; }

.image img {
  width: 100%;
  display: block;
  height: 100%;
}

.image i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: tomato;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.image-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}